@font-face {
    font-family: 'avenirlt_roman';
    src: url('../fonts/avenirlt_roman.ttf');
}

@font-face {
    font-family: 'DrukCyr-Heavy';
    src: url('../fonts/DrukCyr-Heavy.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url('../fonts/Montserrat-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
}